<div class="accountbg"></div>

<div class="wrapper-page">

  <div class="card">
    <div class="card-body">

      <h3 class="text-center mt-0 m-b-15">
        <a routerLink="/home" class="logo logo-admin">
          <img src="assets/images/logo-dark.png" height="30" alt="logo">
        </a>
      </h3>

      <h4 class="text-muted text-center font-18">
        <b>Register</b>
      </h4>

      <div class="p-3" [hidden]="mailSend">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <strong>Oh snap!</strong> {{ error?.message }}
        </div>

        <form class="form-horizontal m-t-20" (ngSubmit)="create()" [formGroup]="createAccountForm" novalidate>

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="email" id="inputEmail" placeholder="Email address" formControlName="email" autocomplete="email"
                required />
              <small [hidden]="!!createAccountForm.controls.email.valid || !!createAccountForm.controls.email.untouched" class="text-danger">
                Email is required
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="password" id="inputPassword" formControlName="password" autocomplete="current-password"
                placeholder="Password" required />
              <small [hidden]="!!createAccountForm.controls.password.valid || !!createAccountForm.controls.password.untouched" class="text-danger">
                Password is required
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="text" id="inputFirstname" formControlName="firstname" autocomplete="firstname" placeholder="Firstname"
                required />
              <small [hidden]="!!createAccountForm.controls.firstname.valid || !!createAccountForm.controls.firstname.untouched" class="text-danger">
                Firstname is required
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="text" id="inputLastname" formControlName="lastname" autocomplete="lastname" placeholder="Lastname"
                required />
              <small [hidden]="!!createAccountForm.controls.lastname.valid || !!createAccountForm.controls.lastname.untouched" class="text-danger">
                Lastname is required
              </small>
            </div>
          </div>

          <div class="form-group row d-none">
            <div class="col-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="agreeCGU">
                <label class="custom-control-label font-weight-normal" for="customCheck1">I accept
                  <a href="#" class="text-muted">Terms and Conditions</a>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group text-center row m-t-20">
            <div class="col-12">
              <button class="btn btn-info btn-block" appRipple type="submit" [disabled]="createAccountForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i> Register
              </button>
            </div>
          </div>

          <div class="form-group m-t-10 mb-0 row">
            <div class="col-12 m-t-20 text-center">
              <a routerLink="/login" class="text-muted">Already have account?</a>
            </div>
          </div>

        </form>
      </div>

      <div class="p-3" [hidden]="!mailSend">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 class="alert-heading font-18">Account created!</h4>
          <p>An email has been send to you with a link to click on to activate your account.</p>
          <p>You will be redirect automaticaly to the login page in 10 seconds or click <a routerLink="/login">here</a>.</p>
          <p class="mb-0">Check your
            <b>SPAM</b> folder</p>
        </div>
      </div>

    </div>
  </div>
</div>
