@import '../../../theme/variables';
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../../../assets/fonts/bebasneue-webfont.eot');
  src: url('../../../assets/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/bebasneue-webfont.woff') format('woff'), url('../../../assets/fonts/bebasneue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$not-found-blue: #12324F;
// .vertical-center {
//   // min-height: 100%;  
//   min-height: calc(100% - 131px);
//   /* Fallback for vh unit */
//   // min-height: 100vh;
//   /* Make it a flex container */
//   min-height: calc(100vh - 131px);
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   /* Align the bootstrap's container vertically */
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -moz-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   /* In legacy web browsers such as Firefox 9
//      we need to specify the width of the flex container */
//   width: 100%;
//   /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
//      hence the bootstrap's container won't be aligned to the center anymore.

//      Therefore, we should use the following declarations to get it centered again */
//   -webkit-box-pack: center;
//   -moz-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   margin: 0 !important;
// }

// #pages404 {
//   margin: 0;
//   font-family: "Open sans", sans-serif;
//   font-weight: 400;
//   line-height: 1.2em;
//   color: #404040
// }

.rs,
h1.rs,
h2.rs,
h3.rs,
h4.rs,
h5.rs,
h6.rs {
  margin: 0;
  padding: 0
}

ol.rs,
ul.rs {
  list-style: none
}

.panda-wrapper {
  background-color: lighten($not-found-blue, 20%); // can be #0098FF ?
  border-width: 8px 0;
  border-style: solid;
  border-color: #000;
  text-align: center;
  overflow: hidden;
  padding: 40px 20px 0;
  height: 100vh;
}

.logo img {
  max-width: 90%
}

.panda-content {
  margin: 0 auto;
  max-width: 100%
}

.panda-content h2,
.panda-content p {
  color: #FFF
}

.panda-content h2 {
  text-transform: uppercase
}

.panda-content h2.title-404 {
  font-size: 80px;
  line-height: 120%;
  max-width: 90%;
  margin: 0 auto 5px
}

.panda-content p {
  font-size: 24px
}

.dot {
  width: 26px;
  height: 24px;
  background-color: #FFF
}

.flip-clock-label,
.flip-clock-wrapper ul li a div div.inn,
.panda-maintenance p,
h2 {
  font-family: bebas_neueregular;
  font-weight: 400;
  line-height: 120%
}

p.text-min {
  font-size: 24px
}

p.text-medium {
  font-size: 60px
}

p.text-big {
  font-size: 80px
}

.page-404 p {
  width: 90%;
  max-width: 570px;
  margin: 0 auto
}

#responsivemenu {
  display: none
}

.panda-menu ul li {
  display: inline-block;
  transition: all .3s ease-out 0s;
  overflow: hidden
}

.panda-menu ul li a {
  transition: all .3s ease-out 0s
}

.panda-menu ul li:hover {
  transform: translateY(-8px)
}

.panda-menu ul li a {
  background-color: #000;
  font-family: bebas_neueregular;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #FFF;
  text-transform: uppercase;
  padding: 12px 33px 9px;
  display: inline-block
}

.panda-social a {
  transition: all .3s ease-out 0s;
  color: #fff;
  color: rgba(255, 255, 255, .8)
}

.panda-social a:hover {
  display: inline-block;
  color: #fff;
  transition: all .3s ease-out 0s;
  transform: translateY(-6px)
}

[class*=icon-],
[class^=icon-] {
  font-size: 40px;
  line-height: 120%
}

#page-404-1 .panda-content {
  padding-top: 100px
}

.dot,
.logo-pd-404 {
  position: absolute
}

.logo-pd-404 {
  top: -111px;
  right: -265px
}

.dot {
  top: 71px;
  right: -10px
}

.logo-404-2,
.logo-panda img,
.logo-pd-404 img {
  max-width: 100%;
  height: auto
}

.panda-content .bg-number {
  position: absolute;
  top: -86px;
  right: -272px
}

.panda-bg-arrow {
  background-image: url(../../../assets/images/not-found/2-bg-arrow-white.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 128px;
  width: auto
}

#page-404-1 .panda-menu {
  margin-top: 21px
}

.logo-404-2,
.logo-pd-2 {
  max-width: 90%;
  margin-bottom: 60px
}

.panda-content .bg-404-2 {
  margin-bottom: 63px
}

#page-404-2 p {
  margin: 0 auto 22px
}

#page-404-2 .panda-menu {
  margin-top: 58px
}

.panda-content .logo-pd-2 {
  margin-bottom: 31px
}

#page-404-3 .panda-content p {
  margin-bottom: 74px;
  width: 100%
}

#page-maintenance-1 .panda-wrapper {
  background-image: url(../../../assets/images/maintenance/bg-m1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 900px
}

.panda-wrapper .pull-left {
  text-align: left
}

.panda-wrapper h2 {
  font-size: 150px;
  line-height: 100%
}

.pull-left h1.logo {
  margin-bottom: 80px;
  padding-top: 20px
}

.pull-left p {
  margin: 0;
  font-size: 60px;
  width: 100%;
  max-width: 727px;
  line-height: 100%
}

.text-underline {
  text-transform: uppercase;
  text-decoration: underline
}

p.text-opacity {
  color: rgba(255, 255, 255, .4)
}

.panda-social a {
  display: inline-block
}

#page-maintenance-1 .panda-social,
#page-maintenance-3 .panda-social {
  margin-left: -10px
}

h1.logo {
  margin-bottom: 84px
}

.maintenance-2 p {
  font-size: 80px;
  color: #FFF;
  line-height: 100%
}

p.text-black {
  color: #000;
  line-height: 120%
}

.panda-countdown {
  margin-top: 29px;
  padding-bottom: 130px
}

.panda-social {
  text-align: center;
  margin-top: 20px
}

footer .panda-social {
  margin-top: 0
}

.pull-left .panda-social {
  text-align: left;
  padding-left: 0
}

.panda-wrapper.not-absolute {
  position: static
}

.panda-social.pull-left {
  text-align: left
}

.clear {
  clear: both
}

/* responsive
*****************************************/

@media screen and (max-width: 1200px) {
  .flip-clock-wrapper ul {
    margin-bottom: 108px;
  }
  .flip-clock-wrapper span.flip-clock-divider.minutes {
    clear: left !important;
    width: 0;
  }
  .flip-clock-divider.days .flip-clock-label,
  .flip-clock-divider.hours .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    top: 264px;
  }
  .flip-clock-divider.days .flip-clock-label {
    right: -185px;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -182px;
  }
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    right: -204px;
  }
  .pull-left p {
    max-width: 100%;
  }
  .panda-wrapper .pull-left,
  .panda-social.pull-left {
    text-align: center;
  }
  #page-maintenance-1 .panda-wrapper {
    background-image: url(../../../assets/images/maintenance/bg-m1b.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 1100px
  }
  .panda-countdown {
    padding-bottom: 20px
  }
}

@media screen and (max-width: 768px) {
  .logo-pd-404,
  .dot {
    position: static;
  }
  .panda-wrapper {
    overflow: auto;
  }
  #responsivemenu {
    width: 400px;
    display: block;
    margin: 10px auto 30px;
    text-align: left;
  }
  /*.panda-menu {
    display: none
  }*/
  #page-maintenance-1 .panda-wrapper {
    background-size: 80%;
  }
  #page-404-1 .panda-content {
    padding-top: 30px
  }
  .flip-clock-wrapper ul {
    font-size: 200px;
    height: 210px;
    width: 105px;
    ;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 200px;
  }
  .flip-clock-divider .flip-clock-label {
    font-size: 50px;
  }
  .flip-clock-divider.days .flip-clock-label,
  .flip-clock-divider.hours .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    top: 230px;
  }
  .flip-clock-divider.days .flip-clock-label {
    right: -145px;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -156px;
  }
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    right: -172px;
  }
}

@media screen and (max-width: 550px) {
  .flip-clock-wrapper ul {
    font-size: 160px;
    height: 180px;
    width: 88px;
    ;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 160px;
  }
  .flip-clock-divider {
    width: 10px;
  }
  .flip-clock-divider .flip-clock-label {
    font-size: 40px;
  }
  .flip-clock-divider.days .flip-clock-label,
  .flip-clock-divider.hours .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    top: 195px;
  }
  .flip-clock-divider.days .flip-clock-label {
    right: -120px;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -130px;
  }
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    right: -145px;
  }
  .flip-clock-wrapper ul {
    margin-bottom: 83px;
  }
  #page-maintenance-1 .panda-wrapper {
    background-size: 80%;
    min-height: 700px
  }
  .pull-left h1.logo {
    margin-bottom: 50px
  }
  .panda-wrapper h2 {
    font-size: 100px;
  }
  .panda-content p.text-min,
  .panda-content p.text-big,
  .panda-content p.text-medium {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .panda-content h2.title-404 {
    font-size: 60px;
  }
  #responsivemenu {
    width: 310px;
  }
}

@media screen and (max-width: 450px) {
  #page-maintenance-1 .panda-wrapper {
    min-height: 600px
  }
  .flip-clock-divider .flip-clock-label {
    font-size: 32px;
  }
  .flip-clock-wrapper ul {
    font-size: 87px;
    height: 100px;
    width: 50px;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 87px;
  }
  .flip-clock-divider {
    width: 10px;
  }
  .flip-clock-divider.days .flip-clock-label,
  .flip-clock-divider.hours .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    top: 110px;
  }
  .flip-clock-divider.days .flip-clock-label {
    right: -80px;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -90px;
  }
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    right: -95px;
  }
  .flip-clock-wrapper ul {
    margin-bottom: 60px;
  }
}
