:host ::ng-deep div.page-title-box ol.breadcrumb {
  margin: 0 !important;
  padding: 0 !important;
  @media (max-width: 420px) {
    display: none !important;
  }
  span {
    text-transform: capitalize;
  }
}
