<app-header></app-header>
<!-- Begin page content -->
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <mc-breadcrumbs></mc-breadcrumbs>
            <!-- <ol class="breadcrumb hide-phone p-0 m-0"> -->
          </div>
          <h4 class="page-title">{{ title }}</h4>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
